{% extends 'layout.html' %}

{% block content %}
    <div class="article container" itemscope itemtype="https://schema.org/Article">
        <meta itemprop="headline" content="{{ article.name }}">
        <meta itemprop="description" content="{{ article.category.name }} - {{ article.name }}">
        <div class="article__title">
            <h1 itemprop="name">{{ article.name }}</h1>
            <span class="article__date" itemprop="dateCreated">{{ article.get_date() }}</span>
        </div>
        <div class="articles__wrapper" id="main-filter-container">
            <div class="col-lg-9">
                <div class="article">
                    <div class="article__image">
                        <span class="articles__item-head" itemprop="description">{{ article.category.name }}</span>
                        <img itemprop="image" src="{{ article.get_image_url() }}" alt="{{ article.name }}">
                    </div>
                    <div class="article__text text-block" itemprop="articleBody">
                        {{ article.text|safe }}
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sticky-block articles__left">
                    <div class="headings">
                        <div class="articles__left-title">Разделы</div>
                        <div class="headings__wrapper">
                            <div class="headings__item tab {% if not current_category %}active{% endif %}"
                                 data-category="all" data-path="/blog/">
                                <div class="headings__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
                                    </svg>
                                </div>
                                <a href="/blog/">Все</a>
                            </div>
                            {% for item in categories %}
                                <div class="headings__item tab {% if current_category == item %}active{% endif %}">
                                    <a href="{{ item.get_absolute_url() }}">{{ item.name }}
                                        ({{ item.articles_count }})</a>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="subscription__form">
                            <div class="subscription__title">
                                Подписаться на новости копании
                            </div>
                            <form class="form needs-validation" method="POST" data-form-modal=""
                                  data-success-modal="success-subscription"
                                  enctype="multipart/form-data" data-action="/informer/subscription/">
                                <div class="form__row">
                                    <div class="input-group">
                                        <div class="input input_placeholder">
                                            <input name="email" placeholder="user@mail.ru" type="email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="form__row relative">
                                    <button class="btn btn_primary btn_w100 btn_large" type="submit">
                                        Подписаться
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="telegram__banner">
                            <img src="/static/icons/tg.svg" alt="Telegram">
                            <a href="{{ request.project_settings.telegram_channel_link }}"
                               target="_blank"
                               rel="nofollow">Наш телеграм-канал
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'blog/slider.html' %}

    {% include 'blocks/questions.html' %}

{% endblock %}