<div id="fast-order" class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <button type="button" class="modal__close">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="32px" height="32px" viewBox="0 0 48 48" xml:space="preserve"> <g> <path fill="#BDBDBD"
                                                                                                d="M38,12.83L35.17,10L24,21.17L12.83,10L10,12.83L21.17,24L10,35.17L12.83,38L24,26.83L35.17,38L38,35.17 L26.83,24L38,12.83z"></path>
                <path fill="none" d="M0,0h48v48H0V0z"></path> </g>
            </svg>
        </button>
        <div class="contacts-page__form contacts-row__item">
            <div class="modal-title">
                Быстрый заказ
            </div>
            <form class="form needs-validation" method="POST" data-form-modal="" enctype="multipart/form-data"
                  data-action="/informer/fast-order/">
                <div class="form__row">
                    <div class="input-group">
                        <span class="input-title">Ваше имя<span>*</span></span>
                        <div class="input input_placeholder">
                            <input name="name" placeholder="Иван Иванов" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="form__row">
                    <div class="input-group">
                        <span class="input-title">Телефон<span>*</span></span>
                        <div class="input input_placeholder">
                            <input name="phone" placeholder="+7 (999) 999-99-99" type="tel" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-title">Email<span>*</span></span>
                        <div class="input input_placeholder">
                            <input name="email" placeholder="user@mail.ru" type="email">
                        </div>
                    </div>
                </div>
                <div class="form__row">
                    <div class="input-group">
                        <span class="input-title">Комментарий</span>
                        <div class="input textarea">
                            <textarea name="comment" placeholder="Ваши пожелания к заказу" data-row="2"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form__row relative">
                    <button class="btn btn_primary btn_w100 btn_large" type="submit">
                        Отправить заявку
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="callback" class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <button type="button" class="modal__close">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="32px" height="32px" viewBox="0 0 48 48" xml:space="preserve"> <g> <path fill="#BDBDBD"
                                                                                                d="M38,12.83L35.17,10L24,21.17L12.83,10L10,12.83L21.17,24L10,35.17L12.83,38L24,26.83L35.17,38L38,35.17 L26.83,24L38,12.83z"></path>
                <path fill="none" d="M0,0h48v48H0V0z"></path> </g>
            </svg>
        </button>
        <div class="contacts-page__form contacts-row__item">
            <div class="modal-title">
                Обратный звонок
            </div>
            <form class="form needs-validation" method="POST" data-form-modal="" enctype="multipart/form-data"
                  data-action="/informer/fast-order/">
                <div class="form__row">
                    <div class="input-group">
                        <span class="input-title">Ваше имя<span>*</span></span>
                        <div class="input input_placeholder">
                            <input name="name" placeholder="Иван Иванов" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="form__row">
                    <div class="input-group">
                        <span class="input-title">Телефон<span>*</span></span>
                        <div class="input input_placeholder">
                            <input name="phone" placeholder="+7 (999) 999-99-99" type="tel" required>
                        </div>
                    </div>
                </div>
                <div class="form__row relative">
                    <button class="btn btn_primary btn_w100 btn_large" type="submit">
                        Отправить заявку
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-cookie">
    <div class="modal-cookie__container">
        <div class="modal-cookie__body">
            <div class="modal-cookie__text">
                Сайт использует файлы «Cookie» с целью персонализации сервиса и повышения удобства пользования сайтом.
            </div>
            <div class="modal-cookie__button">Понятно</div>
        </div>
    </div>
</div>


<div class="modal" id="menu">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <div class="container menu-container">
            <div class="menu__header">
                <div class="header__logo">
                    {% if request.path != '/' %}
                        <a href="/" class="header__logo-link">
                            <img src="/static/icons/logo.svg" alt="Логотип">
                            <img class="logo__title" src="/static/icons/logo_.svg" alt="Логотип">
                        </a>
                    {% else %}
                        <span class="header__logo-link">
                        <img src="/static/icons/logo.svg" alt="Логотип">
                        <img class="logo__title" src="/static/icons/logo_.svg" alt="Логотип">
                    </span>
                    {% endif %}
                </div>
                <button type="button" class="menu-close">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="32px" height="32px" viewBox="0 0 48 48" xml:space="preserve"> <g> <path fill="#BDBDBD"
                                                                                                        d="M38,12.83L35.17,10L24,21.17L12.83,10L10,12.83L21.17,24L10,35.17L12.83,38L24,26.83L35.17,38L38,35.17 L26.83,24L38,12.83z"></path>
                        <path fill="none" d="M0,0h48v48H0V0z"></path> </g>
                    </svg>
                </button>
            </div>
            <div class="menu__content">
                <div class="menu__links">
                    <a class="menu__link" href="/">Главная</a>
                    <a class="menu__link" href="/price-list/">Прайс-лист</a>
                    <div class="menu__link menu__link-dropdown">
                        <div class="accordion__low">
                            Услуги
                            <div class="accordion-svg-plus">
                                <div class="circle-plus active-side-bar">
                                    <div class="circle">
                                        <div class="horizontal transform-horizontal"></div>
                                        <div class="vertical transform-vertical"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tabs__answer-elem accordion-content__low">
                            {% for item in header_categories %}
                                <a href="{{ item.get_absolute_url() }}">{{ item.name }}</a>
                            {% endfor %}
                            <a href="/services/">
                                Смотреть все
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <a class="menu__link" href="/contacts/">Контакты</a>
                    <a class="menu__link" href="/blog/">Статьи</a>
                    <a class="menu__link" href="/about/">О компании</a>
                    <a class="menu__link" href="/contracts/">Типовой договор</a>
                </div>
                <div class="menu__separator"></div>
                <div class="menu__contacts">
                    <div class="menu__contacts-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-telephone-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                        </svg>
                        <a href="tel:{{ request.project_settings.phone_href }}">
                            {{ request.project_settings.phone }}
                        </a>
                    </div>
                    <div class="menu__contacts-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-envelope-fill" viewBox="0 0 16 16">
                            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z"/>
                        </svg>
                        <a href="mailto:{{ request.project_settings.email }}">
                            {{ request.project_settings.email }}
                        </a>
                    </div>

                    <div class="menu__contacts-item">
                        <span class="footer__top-container_element-title">
                            Телеграм-канал: <a class="text-crimson"
                                               href="{{ request.project_settings.telegram_channel_link }}"
                                               target="_blank"
                                               rel="nofollow">{{ request.project_settings.telegram_channel_link.replace("https://", "") }}</a></span>
                    </div>
                    <div class="menu__contacts-item">
                        <div class="menu__socials">
                            {% if request.project_settings.telegram_link %}
                                <a class="header__social-icon"
                                   href="{{ request.project_settings.telegram_link }}"
                                   target="_blank" rel="nofollow">
                                    <img src="/static/icons/tg.svg" alt="Telegram">

                                </a>
                            {% endif %}
                            {% if request.project_settings.whatsapp_link %}
                                <a class="header__social-icon whatsapp-link"
                                        {% if request.project_settings.whatsapp_link_number %}
                                   data-number="{{ request.project_settings.whatsapp_link_number }}"
                                        {% endif %}
                                   href="{{ request.project_settings.whatsapp_link }}"
                                   target="_blank" rel="nofollow">
                                    <img src="/static/icons/wa.svg" alt="Whatsapp">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="menu__contacts-item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                        </svg>
                        <a href="{{ request.project_settings.ymaps_url }}" rel="nofollow" target="_blank">
                            Москва
                        </a>
                    </div>

                </div>
                <div class="menu__separator"></div>
                <div class="menu__form">
                    <div class="menu__form-title">Заказать звонок</div>
                    <div class="menu__form-wrapper">
                        <form class="form needs-validation" method="POST" data-form-modal=""
                              enctype="multipart/form-data"
                              data-action="/informer/callback/">

                            <div class="form__row">
                                <div class="input-group">
                                    <div class="input input_placeholder">
                                        <input name="phone" placeholder="Телефон" type="tel" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form__row relative">
                                <button class="btn btn_primary btn_w100 btn_large" type="submit">
                                    Отправить заявку
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="success" class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <button type="button" class="modal__close">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="32px" height="32px" viewBox="0 0 48 48" xml:space="preserve"> <g> <path fill="#BDBDBD"
                                                                                                d="M38,12.83L35.17,10L24,21.17L12.83,10L10,12.83L21.17,24L10,35.17L12.83,38L24,26.83L35.17,38L38,35.17 L26.83,24L38,12.83z"></path>
                <path fill="none" d="M0,0h48v48H0V0z"></path> </g>
            </svg>
        </button>
        <div class="modal-success__content">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 56" class="modal-success__icon">
                <path d="M41.72 21.61a1.807 1.807 0 00-2.555-2.554L23.733 34.488l-6.4-6.4a1.806 1.806 0 10-2.555 2.554l7.677 7.678c.706.705 1.85.705 2.555 0l16.71-16.71z"/>
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M56 28c0 15.464-12.536 28-28 28S0 43.464 0 28 12.536 0 28 0s28 12.536 28 28zm-3.613 0c0 13.469-10.918 24.387-24.387 24.387C14.531 52.387 3.613 41.47 3.613 28 3.613 14.531 14.53 3.613 28 3.613 41.469 3.613 52.387 14.53 52.387 28z"/>
            </svg>
            <span class="modal-success__text">
                Ваша заявка принята! Менеджер свяжется с Вами в ближайшее время, будьте на связи
            </span>
        </div>
    </div>
</div>

<div id="success-subscription" class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <button type="button" class="modal__close">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="32px" height="32px" viewBox="0 0 48 48" xml:space="preserve"> <g> <path fill="#BDBDBD"
                                                                                                d="M38,12.83L35.17,10L24,21.17L12.83,10L10,12.83L21.17,24L10,35.17L12.83,38L24,26.83L35.17,38L38,35.17 L26.83,24L38,12.83z"></path>
                <path fill="none" d="M0,0h48v48H0V0z"></path> </g>
            </svg>
        </button>
        <div class="modal-success__content">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 56 56" class="modal-success__icon">
                <path d="M41.72 21.61a1.807 1.807 0 00-2.555-2.554L23.733 34.488l-6.4-6.4a1.806 1.806 0 10-2.555 2.554l7.677 7.678c.706.705 1.85.705 2.555 0l16.71-16.71z"/>
                <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M56 28c0 15.464-12.536 28-28 28S0 43.464 0 28 12.536 0 28 0s28 12.536 28 28zm-3.613 0c0 13.469-10.918 24.387-24.387 24.387C14.531 52.387 3.613 41.47 3.613 28 3.613 14.531 14.53 3.613 28 3.613 41.469 3.613 52.387 14.53 52.387 28z"/>
            </svg>
            <span class="modal-success__text">
                Подписка успешно создана. Теперь вы будете получать свежие новости компании на почту.
            </span>
        </div>
    </div>
</div>

<div id="order" class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-content">
        <button type="button" class="modal__close">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="32px" height="32px" viewBox="0 0 48 48" xml:space="preserve"> <g> <path fill="#BDBDBD"
                                                                                                d="M38,12.83L35.17,10L24,21.17L12.83,10L10,12.83L21.17,24L10,35.17L12.83,38L24,26.83L35.17,38L38,35.17 L26.83,24L38,12.83z"></path>
                <path fill="none" d="M0,0h48v48H0V0z"></path> </g>
            </svg>
        </button>
        <div class="contacts-page__form contacts-row__item">
            <div class="modal-title">
                <span class="modal__service-name"></span>
            </div>
            <form class="form needs-validation" method="POST" data-form-modal="" enctype="multipart/form-data"
                  data-action="/informer/order/">
                <input type="hidden" name="service" value="">
                <div class="form__row">
                    <div class="input-group">
                        <span class="input-title">Ваше имя<span>*</span></span>
                        <div class="input input_placeholder">
                            <input name="name" placeholder="Иван Иванов" type="text" required>
                        </div>
                    </div>
                </div>
                <div class="form__row">
                    <div class="input-group">
                        <span class="input-title">Телефон<span>*</span></span>
                        <div class="input input_placeholder">
                            <input name="phone" placeholder="+7 (999) 999-99-99" type="tel" required>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-title">Email<span>*</span></span>
                        <div class="input input_placeholder">
                            <input name="email" placeholder="user@mail.ru" type="email">
                        </div>
                    </div>
                </div>
                <div class="form__row">
                    <div class="input-group">
                        <span class="input-title">Комментарий</span>
                        <div class="input textarea">
                            <textarea name="comment" placeholder="Ваши пожелания к заказу" data-row="2"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form__row relative">
                    <button class="btn btn_primary btn_w100 btn_large" type="submit">
                        Отправить заявку
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
