<div class="section stats">
    <div class="container">
        <div class="service-reasons__title section__title">
            Причины выбрать нас
        </div>
        <div class="stats__items">
            <div class="stats__item">
                <span class="stats__number">
                    > 1 350
                </span>
                <span class="stats__reversed">
                    клиентов
                </span>
                <p>обработано нами за всё время</p>
            </div>
            <div class="stats__item">
                <span class="stats__number">
                    > 120
                </span>
                <span class="stats__reversed">
                    надежных
                </span>
                <p>партнеров по монтажу и сервису</p>
            </div>
            <div class="stats__item">
                <span class="stats__number">
                    > 10
                </span>
                <span class="stats__reversed">
                    лет
                </span>
                <p>опыта работы</p>
            </div>
        </div>

    </div>
</div>
