<div class="section container">
    <section class="about-company__bottom">
        <div class="about-company-bottom">
            <div class="section__title">ФАКТОРЫ УСПЕХА</div>
            <div class="about-company-bottom__card row">
                <div class="col-lg-4">
                    <div class="about-company-bottom__card-item"
                         style="background-image: url(/static/images/success-strict.png);">
                        <div class="about-company-bottom__card-item-title">СОБЛЮДЕНИЕ СРОКОВ
                        </div>
                        <div class="about-company-bottom__card-item-desc">
                            Наша команда строго соблюдает сроки и обеспечивает безопасность на каждом объекте.
                            Профессионализм и ответственность - наш приоритет
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="about-company-bottom__card-item"
                         style="background-image: url(/static/images/success-services.png);">
                        <div class="about-company-bottom__card-item-title">
                            ШИРОКИЙ СПЕКТР УСЛУГ
                        </div>
                        <div class="about-company-bottom__card-item-desc">
                            Мы предлагаем комплексное решение для пожарной безопасности: от проектирования до
                            обслуживания. Широкий спектр услуг - ваш ключ к защите.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-company-bottom__card-item"
                         style="background-image: url(/static/images/success-team.png);">
                        <div class="about-company-bottom__card-item-title">
                            КОМАНДА ЭКСПЕРТОВ
                        </div>
                        <div class="about-company-bottom__card-item-desc">
                            Наша команда состоит из высококвалифицированных специалистов в области пожарной
                            безопасности, готовых
                            оказать поддержку на каждом этапе сотрудничества.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>