<div class="team container section">
    <div class="team__description bg-neutral-950 text-neutral-50 ">
        <div><h2 class="text-2xl font-title mb-4">Наша команда</h2>
            <p class="text-base mb-6">
                Наша команда — это эксперты, посвятившие себя защите от огня. Они вооружены знаниями и навыками,
                необходимыми для создания эффективных систем безопасности.
            </p>
        </div>
        <div class="team__description-button" data-modal="callback">
            СВЯЗАТЬСЯ С НАМИ
        </div>
    </div>
    <div class="team__employees">
        <div class="team__employees-item"><img
                src="/static/images/team-1.jpg" alt="Максим Ясаков - генеральный директор"
                class="team__employees-icon">
            <p class="team__employees-post">генеральный директор</p>
            <div class="team__employees-name">Максим Ясаков</div>
            <!--            <p class="text-sm text-neutral-700 mb-4"> Glavi amet ritnisi libero molestie ante ut fringilla purus eros-->
            <!--                quis glavrid from dolor amet iquam lorem bibendum </p>-->
        </div>
        <div class="team__employees-item"><img
                src="/static/images/team-2.jpg" alt="Александр Гущин - технический директор"
                class="team__employees-icon">
            <p class="team__employees-post">технический директор</p>
            <div class="team__employees-name">Александр Гущин</div>
            <!--            <p class="text-sm text-neutral-700 mb-4"> Glavi amet ritnisi libero molestie ante ut fringilla purus eros-->
            <!--                quis glavrid from dolor amet iquam lorem bibendum </p>-->
        </div>
    </div>
</div>